@import "./../../../style.scss";

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

// $bg-img: url('../../../assets/images/popup-background.jpg');

.popupContainer {
    @include flex-column;
    align-items    : center;
    background     : url("../../../assets/images/popup-background.png");
    font-size      : 16px;
    height         : 25rem;
    width          : 40rem;
    justify-content: center;


}